button.github {
  background: white;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 2.5px 2.5px 5px rgba(#000000, 0.3);
  font-family: "Spartan" , sans-serif;
  font-size: 1.1rem;
  left: 30px;
  line-height: 1;
  padding: 5px;
  padding-bottom: 2px;
  position: relative;
  top: 30px;
  transition: all 0.3s ease-in;

  // animate on hover
  &:hover {
    background: black;
    box-shadow: 2.5px 2.5px 5px rgba(#ffffff, 0.4);
    border-color: white;
    color: white;
    padding: 8px;
    padding-bottom: 6px;
    transform: scale(1.1);
    &::before {
      transform: scaleX(1);
      transform-origin: bottom right;
    }

    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &::before,
  &::after {
    background: $black;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.5s ease-out;
    width: 100%;
  }

  &::before {
    top: -8px;
    transform-origin: bottom left;
  }

  &::after {
    bottom: -8px;
    transform-origin: bottom right;
  }
}
