.header {
  width: 100%;
  background: url("/images/bg-header-desktop.svg") $primary-cyan;
  background-size: cover;
  height: 150px;
}

.body {
  min-height: 100vh;
  background: $bg;
  padding: 6rem 10rem;
  font-family: $font-1;
}
.cardList {
  margin-top: -80px;
}

@include tdq() {
  .header {
    background-image: url("/images/bg-header-mobile.svg");
  }
  .cardList {
    margin-top: -65px;
  }
}
