.SearchBar {
  opacity: 0;
  transform: translateX(-800px);
  transition: 0.7s transform, 0.5s opacity;
  min-height: 60px;
  box-shadow: 0.5px 10px 10px rgba($color: $primary-cyan, $alpha: 0.2);
  position: relative;
  top: -90px;
  @include tdq {
    top: -60px;
  }
  &.active {
    opacity: 1;
    transform: translateY(-50%);
  }

  background: #ffffff;
  border-radius: 7px;
  padding: 1rem 25px 0 25px;
  z-index: 100;
  overflow: auto;

  display: grid;
  grid-template-columns: 1fr max-content;
  .terms {
    display: flex;
    flex-wrap: wrap;
    p {
      margin: 0;
      margin-right: 20px;
      margin-bottom: 1rem;
      @include fc(1, 0);
      background: $bg;
      color: $primary-cyan;
      font-weight: 700;
      padding-left: 8px;
      border-radius: 5px;
      box-shadow: 0 0 2.5px rgba($color: #000000, $alpha: 0.15);
      span {
        margin-left: 8px;
        background: $primary-cyan;
        line-height: 0;
        font-size: 1.4rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.3s;
        cursor: pointer;
        svg {
          width: 40px;
          height: 30px;
        }
        &:hover {
          background: $black;
        }
      }
    }
  }
  .clear {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    color: $gray;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.9rem;
    margin: {
      left: 15px;
    }
  }
}
@include tdq {
  .SearchBar.active + div > div {
    margin-top: -30px;
  }
  .SearchBar {
    font-size: 0.9rem;
    p {
      span {
        svg {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
}
