@import url("https://unpkg.com/@aman-atg/normal.css@2.0.1/normal.min.css");

html {
  box-sizing: border-box;
  font-size: $font-size;
}

body {
  font-size: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
