// Layout

@mixin flex-centered($a: 1, $j: 1) {
  display: flex;
  @if ($a==1) {
    align-items: center;
  }
  @if ($j==1) {
    justify-content: center;
  }
}
// Working as an alias for flex-centered
@mixin fc($a: 1, $b: 1) {
  @include flex-centered($a, $b);
}
