.Card {
  @include fc(1, 0);
  background: #fff;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
  padding: 1.71rem 2.8rem;
  box-shadow: 0.5px 10px 10px rgba($color: $primary-cyan, $alpha: 0.2);
  overflow: hidden;

  // draw left line
  &.featured {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      background: $primary-cyan;
    }
  }

  &-header {
    margin-right: 25px;
    // background-color: blue;
  }
  &-body {
    margin-right: 20px;
    .heading {
      display: flex;
      align-items: center;
      font-size: $font-size * 0.9;
      font-weight: 700;
      margin-bottom: 10px;

      .company {
        color: $primary-cyan;
      }
      .labels {
        text-transform: uppercase;
        margin-left: 15px;
        font-size: $font-size * 0.8;
        .label {
          margin-left: 10px;
          padding: 10px;
          padding-bottom: 7px;
          border-radius: 25px;
          // @include no-gutter;
          color: white;
          background-color: $black;
          &.new {
            background-color: $primary-cyan;
          }
        }
      }
    }
    .footer {
      color: $gray;
      font-size: $font-size * 0.95;
      display: flex;
      li {
        &:nth-of-type(1) {
          list-style: none;
        }
        width: max-content;
        list-style-type: disc;
        padding-right: 3.5%;
        position: relative;
      }
    }
    h1 {
      // background: #223399;
      color: $black;
      font-size: 1.15rem;
      @include no-gutter(2.5);
    }
  }
  &-footer {
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: $font-size * 0.9;
    li {
      cursor: pointer;
      margin-right: 15px;
      background: $secondary-cyan;
      color: $primary-cyan;
      font-weight: 700;
      padding: 7.5px;
      padding-top: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
      line-height: 1;
    }
  }
}
@include ddq() {
  .Card {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "h b"
      "f f";
    &-header {
      grid-area: h;
    }
    &-body {
      grid-area: b;
    }
    &-footer {
      grid-area: f;
      justify-content: start;
      margin-left: 0;
      margin-top: 25px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.4px;
        background: rgba($color: $black, $alpha: 0.25);
        top: -15px;
      }
    }
    padding-bottom: 5px;
  }
}

@include tdq() {
  .body {
    padding: 4rem 2rem;
  }
  .Card {
    overflow: visible;
    padding-left: 25px;
    padding-right: 15px;
    margin-bottom: 40px;
    &-header {
      position: absolute;
      top: -50px;
      img {
        width: 50px;
        border-radius: 100%;
      }
    }
    &-body {
      margin-top: 20px;
    }
  }
}
